.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: radial-gradient(right bottom , circle cover , rgb(39, 255, 29) 1% , rgb(11, 128, 16) 80%);
background: -o-radial-gradient(right bottom , circle cover , rgb(39, 255, 29) 1% , rgb(11, 128, 16) 80%);
background: -ms-radial-gradient(right bottom , circle cover , rgb(39, 255, 29) 1% , rgb(11, 128, 16) 80%);
background: -moz-radial-gradient(right bottom , circle cover , rgb(39, 255, 29) 1% , rgb(11, 128, 16) 80%);
background: -webkit-radial-gradient(right bottom , circle cover , rgb(39, 255, 29) 1% , rgb(11, 128, 16) 80%);






}